In [59]:
import pandas as pd
import numpy as np

In [60]:
traindata=pd.read_csv(r"E:\skillenza\training.csv")

In [61]:
traindata.head()

    id  category                                               text
0  959         0    5573 1189 4017 1207 4768 8542 17 1189 5085 5773
1  994         0       6315 7507 6700 4742 1944 2692 3647 4413 6700
2  995         0                      5015 8067 5335 1615 7957 5773
3  996         0  2925 7199 1994 4647 7455 5773 4518 2734 2807 8...
4  997         0                  7136 1207 6781 237 4971 3669 6193

In [62]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3464 entries, 0 to 3463
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3464 non-null   int64
 1   category  3464 non-null   int64
 2   text      3464 non-null   object
dtypes: int64(2), object(1)
memory usage: 81.3+ KB

In [63]:
traindata.category.value_counts()

0    3348
1     116
Name: category, dtype: int64

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
x_train, x_test, y_train, y_test = train_test_split(traindata['text'], traindata["category"], test_size = .2, random_state = 101)

In [66]:
from sklearn.feature_extraction.text import CountVectorizer

In [67]:
cvector = CountVectorizer()

In [68]:
traindata_1=cvector.fit_transform(x_train)

In [69]:
traindata_1.shape

(2771, 7593)

In [70]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(class_weight='balanced')

scores_dt=cross_val_score(dt,traindata_1,y_train,cv=8,scoring='accuracy')
scores_dt

array([0.96829971, 0.97694524, 0.9740634 , 0.95375723, 0.98554913,
       0.97109827, 0.98554913, 0.96820809])

In [71]:
np.mean(scores_dt)

0.9729337758824608

In [73]:
testdata=pd.read_csv(r"E:\skillenza\test_.csv")

In [74]:
testdata.head()

     id                                               text
0  3729  2705 4888 5050 5815 2472 5157 652 2117 2110 32...
1  3732  389 4978 315 5178 513 5249 5853 3267 315 3891 ...
2  3761  4478 4231 4858 2638 4231 867 371 686 4888 4179...
3     5  3015 1911 112 3905 825 337 315 1693 4677 825 5...
4     7  5136 3918 5153 2023 3091 4159 315 3711 1409 27...

In [75]:
testdata_1=cvector.transform(testdata.text)

In [76]:
from sklearn.ensemble import AdaBoostClassifier

abc=AdaBoostClassifier(DecisionTreeClassifier(),n_estimators=120)
abc.fit(traindata_1,y_train)
pred=abc.predict(testdata_1)
predictions=pd.Series(pred)
predictions.value_counts()



df=pd.DataFrame(data=testdata.id)
submit=pd.concat([df,predictions],axis=1)
submit=submit.rename(columns={0:"category"})
submit['category'].value_counts()

0    1322
1      38
Name: category, dtype: int64

In [77]:
submit

        id  category
0     3729         0
1     3732         0
2     3761         0
3        5         0
4        7         0
...    ...       ...
1355   311         0
1356   324         0
1357   329         0
1358   342         0
1359   352         0

[1360 rows x 2 columns]

In [80]:
from sklearn.naive_bayes import MultinomialNB
traindata.columns
nb = MultinomialNB()
nb.fit(traindata_1,y_train)

pred = nb.predict(testdata_1)
pred.shape

(1360,)

In [81]:
pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [84]:
submission = pd.DataFrame({"id":testdata["id"] , "category" : pred})

In [85]:
submission

        id  category
0     3729         1
1     3732         1
2     3761         1
3        5         1
4        7         1
...    ...       ...
1355   311         1
1356   324         1
1357   329         1
1358   342         1
1359   352         1

[1360 rows x 2 columns]

In [86]:
submission['category'].value_counts()

1    1255
0     105
Name: category, dtype: int64